<!doctype html>
<html>
<head>
	<title>Welcome</title>
        <!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        -->
        <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="wrapper">
    <div id="topBar">
        
        <div id="greeting"><span class="fa fa-user">Hello <%= user.email %></span>
        <a href="/logout" class="button">Logout</a>
        </div>
    </div>
    
        <div id="pseudoSet" class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> almost there</h1>
                <!-- show any messages that come back with authentication -->
                
                        <div id="alert" class="alert alert-danger"></div>
                
                <form action="/game" method="post">
                    <input type="hidden" name="loadGame" value="true">
                    <button id="loadGame" type="button" class="btn btn-info btn-lg">Load former game</button>
                </form>
                <button id="newGame" type="button" class="btn btn-info btn-lg">Play new game</button>
                <!-- LOGIN FORM -->
                <form action="/game" method="post">
                    <div class="form-group">
                            <label>Nickname</label>
                            <input id="pseudoInput" type="text" class="form-control" name="nickname">
                    </div>

                    <div class="form-group">
                        <label>Choose guild</label>
                        <select id="playerclass" class="form-control" name="guild">
                            <%for( var i=0; i<guilds.length; i++){%>
                                <option value="<%=guilds[i].name%>"><%=guilds[i].name%></option>
                            <%}%>
                        </select>
                    </div>
                    <button id="btnNewGame" type="button" class="btn btn-info btn-lg">Start new game</button>
                </form>
            </div>
        </div>  
        <section id="container" class="text-center">        
            <aside id="sidebar">
                <ul id="profile"><li>playerstats</li></ul>
                <ul id="playerlist"><li>player</li></ul>
                <ul id="roomPlayerlist"><li>player</li></ul>                 
            </aside>

            <div id="chatWrapper">
                <ul id="chatEntries"></ul>
                <div id="chatControls">
                    <input id="chatInput" autocomplete="off" />
                    <button id="btnChatSubmit">Send</button>
                </div>
            </div>
        </section>

</div>
<script>  
    var user = <%-JSON.stringify(user)%>;
    console.log(user);
</script>
<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket_client.js"></script>
<script src="/chat_functions.js"></script>
<script src="/command_functions.js"></script>
</body>
</html>